footer.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 25px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

@media(max-width:768px){
    footer.footer {
        justify-content: center;
        font-size: .7em;
    }
}